.outer{
    height: 400px;
    width: 400px;
    border: 10px rgb(61, 56, 56) solid;
    position: relative;
    background-color: #a6a9b6;
  }
  
  .inner{
    width:200px;
    height: 200px;
    position: relative;
    
  }
  
  .gray{
    background-color: #e4e4e4;
    right: -200px;
  }
  
  .orange{
    background-color: #ff912e;
    bottom: 0px;
  }